# 金融大数据实验二数据清洗、预处理及划分

In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import sklearn

In [16]:
#读入数据
data=pd.read_csv(r'G:\NJU_课程!!!!!!!!\金融大数据处理技术\实验二\application_data.csv')
data

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,TARGET
0,100002,Cash loans,M,N,Y,0,202500.0,406597.5,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1
1,100003,Cash loans,F,N,N,0,270000.0,1293502.5,State servant,Higher education,...,0,0,0,0,0,0,0,0,0,0
2,100004,Revolving loans,M,Y,Y,0,67500.0,135000.0,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
3,100006,Cash loans,F,N,Y,0,135000.0,312682.5,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
4,100007,Cash loans,M,N,Y,0,121500.0,513000.0,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,Cash loans,M,N,N,0,157500.0,254700.0,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307507,456252,Cash loans,F,N,Y,0,72000.0,269550.0,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307508,456253,Cash loans,F,N,Y,0,153000.0,677664.0,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
307509,456254,Cash loans,F,N,Y,0,171000.0,370107.0,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1
307510,456255,Cash loans,F,N,N,0,157500.0,675000.0,Commercial associate,Higher education,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#检查缺失值
data.isnull().sum()

SK_ID_CURR                        0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_FAMILY_STATUS                0
NAME_HOUSING_TYPE                 0
REGION_POPULATION_RELATIVE        0
DAYS_BIRTH                        0
DAYS_EMPLOYED                     0
DAYS_REGISTRATION                 0
DAYS_ID_PUBLISH                   0
FLAG_MOBIL                        0
FLAG_EMP_PHONE                    0
FLAG_WORK_PHONE                   0
FLAG_CONT_MOBILE                  0
FLAG_PHONE                        0
FLAG_EMAIL                        0
REGION_RATING_CLIENT              0
REGION_RATING_CLIENT_W_CITY       0
WEEKDAY_APPR_PROCESS_START        0
HOUR_APPR_PROCESS_START           0
REG_REGION_NOT_LIVE_REGION        0
REG_REGION_NOT_WORK_REGION        0
LIVE_REGION_NOT_WORK_REGION       0
REG_CITY_NOT_LIVE_CITY            0
REG_CITY_NOT_WORK_CITY            0
LIVE_CITY_NOT_WORK_CITY           0
ORGANIZATION_TYPE                 0
OBS_30_CNT_SOCIAL_CIRCLE       1021
DEF_30_CNT_SOCIAL_CIRCLE       1021
OBS_60_CNT_SOCIAL_CIRCLE       1021
DEF_60_CNT_SOCIAL_CIRCLE       1021
DAYS_LAST_PHONE_CHANGE            1
FLAG_DOCUMENT_2                   0
FLAG_DOCUMENT_3                   0
FLAG_DOCUMENT_4                   0
FLAG_DOCUMENT_5                   0
FLAG_DOCUMENT_6                   0
FLAG_DOCUMENT_7                   0
FLAG_DOCUMENT_8                   0
FLAG_DOCUMENT_9                   0
FLAG_DOCUMENT_10                  0
FLAG_DOCUMENT_11                  0
FLAG_DOCUMENT_12                  0
FLAG_DOCUMENT_13                  0
FLAG_DOCUMENT_14                  0
FLAG_DOCUMENT_15                  0
FLAG_DOCUMENT_16                  0
FLAG_DOCUMENT_17                  0
FLAG_DOCUMENT_18                  0
FLAG_DOCUMENT_19                  0
FLAG_DOCUMENT_20                  0
FLAG_DOCUMENT_21                  0
TARGET                            0
dtype: int64

In [18]:
#删除有缺失值的行
data=data.dropna(axis=0,how='any')
data

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,TARGET
0,100002,Cash loans,M,N,Y,0,202500.0,406597.5,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1
1,100003,Cash loans,F,N,N,0,270000.0,1293502.5,State servant,Higher education,...,0,0,0,0,0,0,0,0,0,0
2,100004,Revolving loans,M,Y,Y,0,67500.0,135000.0,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
3,100006,Cash loans,F,N,Y,0,135000.0,312682.5,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
4,100007,Cash loans,M,N,Y,0,121500.0,513000.0,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,Cash loans,M,N,N,0,157500.0,254700.0,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307507,456252,Cash loans,F,N,Y,0,72000.0,269550.0,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307508,456253,Cash loans,F,N,Y,0,153000.0,677664.0,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
307509,456254,Cash loans,F,N,Y,0,171000.0,370107.0,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1
307510,456255,Cash loans,F,N,N,0,157500.0,675000.0,Commercial associate,Higher education,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#检查data中的唯一值特征
unique_columns = data.nunique()[data.nunique() == len(data)].index
print(unique_columns)
print(data.nunique())

Index(['SK_ID_CURR'], dtype='object')
SK_ID_CURR                     306489
NAME_CONTRACT_TYPE                  2
CODE_GENDER                         3
FLAG_OWN_CAR                        2
FLAG_OWN_REALTY                     2
CNT_CHILDREN                       15
AMT_INCOME_TOTAL                 2544
AMT_CREDIT                       5603
NAME_INCOME_TYPE                    8
NAME_EDUCATION_TYPE                 5
NAME_FAMILY_STATUS                  6
NAME_HOUSING_TYPE                   6
REGION_POPULATION_RELATIVE         81
DAYS_BIRTH                      17460
DAYS_EMPLOYED                   12565
DAYS_REGISTRATION               15683
DAYS_ID_PUBLISH                  6167
FLAG_MOBIL                          1
FLAG_EMP_PHONE                      2
FLAG_WORK_PHONE                     2
FLAG_CONT_MOBILE                    2
FLAG_PHONE                          2
FLAG_EMAIL                          2
REGION_RATING_CLIENT                3
REGION_RATING_CLIENT_W_CITY         3
WEEKDAY_APPR_PROCESS_START          7
HOUR_APPR_PROCESS_START            24
REG_REGION_NOT_LIVE_REGION          2
REG_REGION_NOT_WORK_REGION          2
LIVE_REGION_NOT_WORK_REGION         2
REG_CITY_NOT_LIVE_CITY              2
REG_CITY_NOT_WORK_CITY              2
LIVE_CITY_NOT_WORK_CITY             2
ORGANIZATION_TYPE                  58
OBS_30_CNT_SOCIAL_CIRCLE           33
DEF_30_CNT_SOCIAL_CIRCLE           10
OBS_60_CNT_SOCIAL_CIRCLE           33
DEF_60_CNT_SOCIAL_CIRCLE            9
DAYS_LAST_PHONE_CHANGE           3770
FLAG_DOCUMENT_2                     2
FLAG_DOCUMENT_3                     2
FLAG_DOCUMENT_4                     2
FLAG_DOCUMENT_5                     2
FLAG_DOCUMENT_6                     2
FLAG_DOCUMENT_7                     2
FLAG_DOCUMENT_8                     2
FLAG_DOCUMENT_9                     2
FLAG_DOCUMENT_10                    2
FLAG_DOCUMENT_11                    2
FLAG_DOCUMENT_12                    2
FLAG_DOCUMENT_13                    2
FLAG_DOCUMENT_14                    2
FLAG_DOCUMENT_15                    2
FLAG_DOCUMENT_16                    2
FLAG_DOCUMENT_17                    2
FLAG_DOCUMENT_18                    2
FLAG_DOCUMENT_19                    2
FLAG_DOCUMENT_20                    2
FLAG_DOCUMENT_21                    2
TARGET                              2
dtype: int64

In [20]:
data.columns.to_list()

['SK_ID_CURR',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'TARGET']

In [21]:
# 连续数值特征
numfea=[
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'HOUR_APPR_PROCESS_START',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
]
# 离散特征
catefea=[
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'WEEKDAY_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
]
#预测目标为"TARGET"

In [22]:
#对于连续数值特征，进行归一化处理
normalizer = sklearn.preprocessing.MinMaxScaler()
normalizer.fit(data[numfea])
data[numfea] = normalizer.transform(data[numfea])
data

C:\Users\86159\AppData\Local\Temp\ipykernel_18000\2009933433.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[numfea] = normalizer.transform(data[numfea])

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,TARGET
0,100002,Cash loans,M,N,Y,0.0,0.001512,0.090287,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1
1,100003,Cash loans,F,N,N,0.0,0.002089,0.311736,State servant,Higher education,...,0,0,0,0,0,0,0,0,0,0
2,100004,Revolving loans,M,Y,Y,0.0,0.000358,0.022472,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
3,100006,Cash loans,F,N,Y,0.0,0.000935,0.066837,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
4,100007,Cash loans,M,N,Y,0.0,0.000819,0.116854,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,Cash loans,M,N,N,0.0,0.001127,0.052360,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307507,456252,Cash loans,F,N,Y,0.0,0.000396,0.056067,Pensioner,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
307508,456253,Cash loans,F,N,Y,0.0,0.001089,0.157969,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
307509,456254,Cash loans,F,N,Y,0.0,0.001243,0.081175,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1
307510,456255,Cash loans,F,N,N,0.0,0.001127,0.157303,Commercial associate,Higher education,...,0,0,0,0,0,0,0,0,0,0

In [23]:
#对于离散特征，进行one-hot编码
#data = pd.get_dummies(data,columns=catefea)
#data

In [24]:
#统计Target=1/0的样本数
data['TARGET'].value_counts()

TARGET
0    281700
1     24789
Name: count, dtype: int64

In [25]:
#正负样本数目相差过大，进行下采样
#随机采样
data_1=data[data['TARGET']==1]
data_0=data[data['TARGET']==0]
data_0=data_0.sample(n=len(data_1),random_state=42)
data=pd.concat([data_0,data_1])
data

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,TARGET
25751,129938,Cash loans,F,Y,Y,0.000000,0.003051,0.424319,Working,Higher education,...,0,0,0,0,0,0,0,0,0,0
18862,121995,Cash loans,F,Y,Y,0.000000,0.001127,0.013917,Commercial associate,Higher education,...,0,0,0,0,0,0,0,0,0,0
213684,347606,Cash loans,F,N,Y,0.000000,0.000973,0.111236,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
83940,197356,Revolving loans,M,Y,Y,0.000000,0.001512,0.056180,Working,Incomplete higher,...,0,0,0,0,0,0,0,0,0,0
279076,423312,Cash loans,M,Y,Y,0.000000,0.001897,0.030737,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307448,456186,Cash loans,M,N,N,0.052632,0.001550,0.101124,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1
307475,456215,Cash loans,F,N,N,0.052632,0.001012,0.314157,Working,Higher education,...,0,0,0,0,0,0,0,0,0,1
307481,456225,Cash loans,M,N,Y,0.000000,0.001704,0.062921,Working,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1
307489,456233,Cash loans,F,N,Y,0.000000,0.001704,0.118921,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1
307509,456254,Cash loans,F,N,Y,0.000000,0.001243,0.081175,Commercial associate,Secondary / secondary special,...,0,0,0,0,0,0,0,0,0,1

In [26]:
data['TARGET'].value_counts()

TARGET
0    24789
1    24789
Name: count, dtype: int64

In [27]:
#将连续数值特征放在所有离散特征之前，Target特征置于最后
data=data[['SK_ID_CURR']+numfea+catefea+['TARGET']]
data

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,REGION_RATING_CLIENT,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,TARGET
25751,129938,0.000000,0.003051,0.424319,0.097136,0.721984,0.040916,0.736017,0.371683,1.0,...,0,0,0,0,0,0,0,0,0,0
18862,121995,0.000000,0.001127,0.013917,0.257000,0.818997,0.045840,0.942810,0.531749,0.5,...,0,0,0,0,0,0,0,0,0,0
213684,347606,0.000000,0.000973,0.111236,0.197042,0.873224,0.044585,0.830293,0.717104,0.5,...,0,0,0,0,0,0,0,0,0,0
83940,197356,0.000000,0.001512,0.056180,0.030685,0.497351,0.036680,0.851573,0.376407,0.5,...,0,0,0,0,0,0,0,0,0,0
279076,423312,0.000000,0.001897,0.030737,0.491595,0.192165,0.043862,0.951159,0.428512,0.5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307448,456186,0.052632,0.001550,0.101124,0.276330,0.863078,0.038794,0.655196,0.641517,1.0,...,0,0,0,0,0,0,0,0,0,1
307475,456215,0.052632,0.001012,0.314157,0.097483,0.665896,0.040472,0.979734,0.346394,0.5,...,0,0,0,0,0,0,0,0,0,1
307481,456225,0.000000,0.001704,0.062921,0.114722,0.258455,0.038535,0.638416,0.467556,0.5,...,0,0,0,0,0,0,0,0,0,1
307489,456233,0.000000,0.001704,0.118921,0.196267,0.493687,0.046002,0.663951,0.998749,0.5,...,0,0,0,0,0,0,0,0,0,1
307509,456254,0.000000,0.001243,0.081175,0.069553,0.747914,0.034258,0.896158,0.870641,0.5,...,0,0,0,0,0,0,0,0,0,1

In [28]:
# 随机划分训练集和测试集 (4:1)
train_indices, test_indices = train_test_split(data, test_size=0.2, random_state=42)
train_size=len(train_indices)
test_size=len(test_indices)
print(train_size)
print(test_size)
# 分别保存为csv文件
train_indices.to_csv(r'G:\NJU_课程!!!!!!!!\金融大数据处理技术\实验二\train.csv',index=False)
test_indices.to_csv(r'G:\NJU_课程!!!!!!!!\金融大数据处理技术\实验二\test.csv',index=False)

39662
9916